{% extends "auctions/layout.html" %}

{% block body %}

    {% if listing.closed == True %}
    <br>
    <h2>Listing: {{ listing.listing_title }}</h2>
    <br>
        {% if user == winner and user.is_authenticated %}
            <h4> You have won the auction! </h4>
        {% else %}
            <h4> Sadly, this auction is closed.. </h4>
        {% endif %}
   

    {% else %}
    
    <br>
    <h2>Listing: {{ listing.listing_title }} 
   </h2>

 <p>
    {% if user.is_authenticated %}
            <form action="{% url 'listing_page' listing=listing.listing_title %}" method="POST">
              {% csrf_token %}
              <div class="form-group">
                <input type="submit" name="button_watchlist" class="btn btn-secondary btn-sm" value="watchlist">
              </div>
            </form>
    {% endif %}

    {% if user.is_authenticated %}
      {% if user == listing.owner %}
            <form id = "form2" action="{% url 'listing_page' listing=listing.listing_title %}" method="POST">
              {% csrf_token %}
              <div class="form-group">
                <input type="submit" name="button_close" class="btn btn-outline-danger " value="close auction">
              </div>
            </form>
      {% endif %}
    {% endif %}
  </p>

  <img src="{{ listing.image }}" alt="image" style="width: 500px; height: auto">

        <p>{{ listing.description }}</p>

        <br>
        <h4> Current Price: ${{ listing.current_price }}</h4>
        
        {% if user.is_authenticated %}
            <form action="{% url 'listing_page' listing=listing.listing_title %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label for="bid">{{ listing.bids.count }} bid(s) so far. Your bid is the current bid</label>
                </div>
                <div class="form-group">
                  {{ bid_form }}
                </div>
                <p>
                <div class="form-group">
                  <input type="submit" name="button_bid" class="btn btn-primary" value="Place Bid">
                </div>
              </p>
            </form>
        {% endif %}
        <br>
        <h4>Details</h4>
        <ul>
          <li>Listed by: {{ listing.owner }}</li>
          <li>Category: {{ listing.category }} </li>
        </ul>

        <br>
        <h4>Comments</h4>
        <p>
        {% for comment in listing.comments.all %}
            <div class="container m-1 p-2 border">
                <p><strong>{{ comment.user }} - {{ comment.comment_title }}</strong> </p>
                <i>{{ comment.time }}</i>
                <p class="mt-n2">{{ comment.comment }}</p>
            </div>
        {% endfor %}
        </p>

        {% if user.is_authenticated %}
            <form action="{% url 'listing_page' listing=listing.listing_title %}" method="POST">
                {% csrf_token %}

                <div class="container m-1 p-2">
                  {% for field in comment_form  %}
                  <div class="row">
                      <b>{{ field.label_tag }}</b> {{ field }} 
                    </div>
                  {% endfor %}
                  </div>  
                </div>

                <p>
                <div class="form-group">
                  <input type="submit" name="button_comment" class="btn btn-primary" value="Place Comment">
                </div>
              </p>
            </form>
        {% endif %}

    {% endif %}

{% endblock %}